html {
  font-size: 14px;
  scroll-behavior: smooth;
}
body {
  background: rgba(229, 228, 226, 0.5);
  font-family: "Open Sans", sans-serif;
  color: #525f7f;
  overflow-x: hidden;
}
html > body .old-tv * {
  outline: none;
}

#skills, #front, #cv--entries {
  width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
}

.progress {
  font-size: 1rem;
  .progress-bar {
    background-color: rgba(197, 108, 240,1.0);
  }
}

.navbar {
  background-color: rgba(159, 219, 209, 0.5)
;
  height: 50px;

}


